In [1]:
import pandas as pd
import statsmodels.formula.api as smf

### We knew eventually the end goal was to plug a table into the following linear regresion formula

In [1]:
formula = 'mpg ~ cylinders + displacement + horsepower + weight + acceleration + model + origin'

### But first we would need to reorganize/join all our tables in SQL so that we could get to that last clean table where the columns could be plugged in cleanly one by one:

In [9]:
img src= "/Users/EdwinSue/Desktop/NYTTP/R_Linear Regression Models/Brazilian_Ecommerce/Schema.png"

SyntaxError: invalid syntax (<ipython-input-9-e13e1aa46b02>, line 1)

### Below is the query we ended up settling on to create our base customer information. It tells us each customer and how much they have paid in total (i.e lifetime value)

In [ ]:
SELECT
customer_unique_id,
COUNT(DISTINCT order_id) AS total_orders,
MIN(order_purchase_timestamp) AS first_order,
SUM(payment_value) AS total_paid
FROM
	(SELECT
	*
	FROM
	olist_customers_dataset
	INNER JOIN olist_orders_dataset USING (customer_id)
	INNER JOIN order_payments USING (order_id)
	ORDER BY customer_unique_id) AS source
GROUP BY customer_unique_id
ORDER BY total_orders DESC

### Which produces the following table:

In [2]:
customers = pd.read_csv("/Users/EdwinSue/Desktop/NYTTP/R_Linear Regression Models/Brazilian_Ecommerce/customer_total_payments.csv")

In [5]:
customers.head(10)

,customer_unique_id,total_orders,first_order,total_paid
0,8d50f5eadf50201ccdcedfb9e2ac8455,17,2017-05-15 23:30:00,927.63
1,3e43e6105506432c953e165fb2acf44c,9,2017-09-18 18:53:00,1172.66
2,1b6c7548a2a1f9037c1fd3ddfed95f33,7,2017-11-13 16:44:00,959.01
3,6469f99c1f9dfae7733b25662e7f1782,7,2017-09-19 01:02:00,758.83
4,ca77025e7201e3b30c44b472ff346268,7,2017-10-09 12:34:00,1122.72
5,de34b16117594161a6a89c50b289d35a,6,2017-11-03 00:16:00,660.94
6,dc813062e0fc23409cd255f7f53c7074,6,2017-07-01 04:22:00,1094.63
7,f0e310a6839dce9de1638e0fe5ab282a,6,2017-05-20 08:53:00,540.69
8,47c1a3033b8b77b3ab6e109eb4d5fdf3,6,2017-08-07 14:14:00,944.21
9,63cfc61cee11cbe306bff5857d00bfe4,6,2017-05-11 14:39:00,826.32